header.header
  .center-wrap
    .header__wrap.anchors
      .header__lenguage
        span.header__lenguage-val 
          img(src='assets/images/png/tongue.png' alt='')
        ul.header__lenguage-list
          li.header__lenguage-item 
            a(href="#").header__lenguage-link EN
          li.header__lenguage-item 
            a(href="#").header__lenguage-link UA
          li.header__lenguage-item 
            a(href="#").header__lenguage-link RU
      a(href="").header__logo
        |LOGO
        span LOGO
      .header__burger.desktop--hide
        div
        div