section.main-screen#main-screen
    a(href="#").edge_link#one where?
    a(href="#").edge_link#two what?
    a(href="#").edge_link#three who?
    .marquee.marquee-left FULL-CYCLE EVENT AGENCY FULL-CYCLE EVENT AGENCY 
    .marquee.marquee-right FULL-CYCLE EVENT AGENCY FULL-CYCLE EVENT AGENCY
    .main__block-yellow
        .main__block-circle 
            img(src='assets/images/svg/rotate-letter.svg' alt='')
    .main__block
        .main__block-title 
            |FULL-CYCLE <br/>
            |EVENT AGENCY
        
        